* {
    margin: 1px;
    padding: 2px;
  }
  body {
    background: url(ls.jpg) no-repeat center center fixed;
    background-size: cover;
    text-decoration-style: double;
    text-align: center;
  }
  .container h1 {
    font-size: 80px;
    color: darkgoldenrod;
    text-align: center;
    border-bottom: thick double darkgoldenrod;
    margin: 13px;
    padding: 0px;
  }
  h3 {
    color: darkgoldenrod;
  }

  .container {
    border: 12px aqua;
    position: absolute;
    top: 20%;
    left: 16%;
  }
  .box {
    border-bottom: 2px solid darkgoldenrod;
    width: 100%;
    
  }
  .box input{
    background: none;
    font-size: 20px 20px;
    margin: 2px;
    padding: 3px;
    width: 80%;
    border: none;
    outline: none;
    color:darkgoldenrod;
    border-radius: 10px;
  }
  .btn
  {
    cursor: pointer;
    outline:none;
    width: 71px;
    margin: 3px;
    padding: 1px;
    color: darkgoldenrod;
    border-radius: 10px;
    border-bottom: solid darkgoldenrod;
    background-color:black;

  }
  .box i{
    width: 25px;
    float: left;
    text-align: center;
    color:darkgoldenrod;

  }
  .div1{
    color: darkgoldenrod;
    text-align: center;
    position: absolute;
    right: 50%;
    bottom: 0%;